@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rise {
  0% {
    top: 100%;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    top: -10%;
    opacity: 0;
  }
}

.stars-container {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}

.star {
  position: absolute;
  border-radius: 50%;
  background-color: white;
  /*box-shadow: 0 0 6px 2px white;*/
  animation-name: rise;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
